@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-ubuntu: "Ubuntu", "sans-serif";

	--color-marine-blue: hsl(213, 96%, 18%);
	--color-purplish-blue: hsl(243, 100%, 62%);
	--color-pastel-blue: hsl(228, 100%, 84%);
	--color-light-blue: hsl(206, 94%, 87%);
	--color-strawberry-red: hsl(354, 84%, 57%);
	--color-cool-gray: hsl(231, 11%, 63%);
	--color-light-gray: hsl(229, 24%, 87%);
	--color-magnolia: hsl(217, 100%, 97%);
	--color-alabaster: hsl(231, 100%, 99%);
	--color-white: hsl(0, 0%, 100%);
}

*,
::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.text-title-1 {
	@apply text-4xl font-bold text-marine-blue mb-4;
}

.text-content-standard {
	@apply text-[1.7rem] font-normal text-cool-gray mb-6;
}

.form-label {
    @apply block text-[1.25rem] text-marine-blue mb-1
}

.form-input {
    @apply border border-cool-gray rounded px-2.5 py-2.5 w-full text-[1.6rem] font-medium text-marine-blue placeholder:text-cool-gray outline-none
}

.duration-text {
    @apply text-xl font-medium text-marine-blue
}